$white: #FFFFFF;
$white-f9: #F9F9F9;
$black-33: #333333;
$black-11: #111111;
$black-22: #222222;
$black-77: #777777;
$black-99: #999999;
$grey-c2: #C2C2C2;
$brown-cafe: #BEAD8E;
$brown-cafe-2: #BDAC8D;
;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$archivoFont: 'Archivo', sans-serif;
$oldStandardTTFont: 'Old Standard TT', serif;
$robotoFont: 'Roboto', sans-serif;